.product-info {
  display: flex;
  padding: 82px 0px 178px 0px;

  &__gallery {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-right: 40px;
  }
  &__gallery-item {
    width: 79px;
    height: 80px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image {
    max-width: 610px;
    align-self: start;
    margin-right: 100px;
  }

  &__brand {
    margin-bottom: 16px;
  }

  &__name {
    margin-bottom: 43px;
  }

  &__color-attribute {
    margin-bottom: 38px;
  }

  &__text-attribute {
    margin-bottom: 24px;
  }

  &__cart-btn {
    width: 292px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 19px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1d1f22;

    & h1 {
      margin-bottom: 20px;
    }
  }
}

.brand-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.name-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}

.attribute-price {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 10px;
  }

  &__amount {
    line-height: 18px;
  }
}

.price-amount {
  font-weight: 700;
  font-size: 24px;
  color: #1d1f22;
}
